nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: rgb(46, 43, 43);
  color: white;
}

nav .logo {
  display: flex;
  align-items: center;
  color: #61DAFB;
}

.nav--logo-img {
  width: 50px;
  margin-right: 10px;
}

.mav--title {
  display: flex;
  align-items: center;
}